.video-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-container:last-of-type {
    margin-bottom: 85px;
}


.video {
    margin: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f3f;
    border-radius: 12px;
    width: 720px;
}

.text {
    width: 77.5%
}

.content {
    width: 200px;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-status-true {
    color: red;
}
.video-status-false {
    color: #3f3f3f;
}

.content::target-text {
    width: 70%;
}

img {
    width: 100px;
    height: 56.25px;
}

.ud-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 45px;
        height: 45px;
        margin: 8px;
        background-color: #3f3f3f;
    }

}