.ui-page-header {
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-size: 20px;
    margin-bottom: 2rem;
}

svg {
    padding-top: 10px;
    padding-left: 10px;
    width: 42px;
}

.ui-page-button {
    padding: 8px;
    background-color: rgb(167, 108, 0);
    border-radius: 8px;

    a {
        color: #121212;
        font-size: 18px;
        font-weight: 500;
    }
}